* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.border {
  border: 1px solid #003399;
  border-radius: 5px;
  padding: 15px;
}

h1,
div.border {
  margin: 10px;
}

div h2 {
  margin-bottom: 10px;
}

h1,
h2 {
  color: #003399;
}

button,
input {
  border-radius: 2px;
  padding: 5px;
}

button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #66ccff;
  background-color: #003399;
}

button:focus {
  outline: 1px solid #66ccff;
}

input {
  border: 1px solid #003399;
  background-color: #66ccff;
  margin-right: 15px;
}

#todo {
  width: 20vw;
}

input:focus {
  outline: 1px solid #003399;
}

label {
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.75rem;
}

.done {
  text-decoration: line-through;
  color: grey;
}
